.solution{
	
}
.solution h2{
	margin: 0;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
	overflow:hidden;
	  text-overflow:ellipsis;
	  -o-text-overflow:ellipsis;
	  -webkit-text-overflow:ellipsis;
	  -moz-text-overflow:ellipsis;
	  white-space:nowrap;
}
.solution>div{
	display: block;
	height: 240px;
	position: static;
	text-align: center;
}
.solution>div>img{
	display: inline-block;
	left: 10%;
	width:360px;
	height: 240px; 
	position: absolute;
	padding: 30px 20px 20px 40px;
	border-bottom: solid 1px #ccc;
}
.solution>div>div{
	display: inline-block;
	width: calc(80% - 330px);
	height: 240px;
	border-bottom: solid 1px #ccc;
	position: absolute;
	left: calc(10% + 360px);
	padding: 0 30px;
	line-height: 30px;
}
.solution>div>div>p{
	display: block;
	width: 100%;
	text-align: left;
	text-indent: 2em;
	word-break:break-all;
	  display:-webkit-box;
	  -webkit-line-clamp:3;
	  -webkit-box-orient:vertical;
	  overflow:hidden;
}
.solution>div>div>a{
	color: #28d;
	border: solid 1px #28d;
	height: 40px;
	line-height: 40px;
	display: block;
	width: 130px;
	position: absolute;
	bottom: 20px;
	position: relative;
    left: calc(50% - 65px);
    top: 10px;
	
}
.solution>div>div>a:hover{
	background-color: #28d;
	color: #fff;
}